.content{
  background-color: #fff;
}

.news-header{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.news-body{
  display: flex;
  overflow: hidden;
  height: 0px;
  transition: height 0.3 sease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
}
.news-tr-td, .news-text-content{
   a, a:link, a:visited{
    color: rgb(22, 25, 68);
    font-weight: bold;
  }
}
.news-show {
  width: 80px;
  a, a:link, a:visited {
    color: rgb(105, 92, 254);
    text-decoration: none;
  }
}
.heart-news{
  i.bx.bx-heart{
  margin-left: 0;
  font-size: 1.5rem;
  cursor: pointer;
  }
}

.heart-like{
  // color: red;
  color: rgb(105, 92, 254);
}

.leftimg {
  float:left;
  margin: 7px 40px 7px 0;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(122, 115, 247, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(122, 115, 247, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(122, 115, 247, 0.2);
 }
//  .rightimg  {
//   float: right;
//   margin: 7px 0 7px 7px;
//  }

 .main-text{
  text-align: justify;
 }

//  #outside {
//   position: absolute;
//   top: -1000;
//   left: -1000;
// }