.container-registration{
  max-width: 480px;
  min-width: 350px;
}
.layer-1{
  -webkit-box-shadow: 1px 2px 5px 2px rgba(34, 60, 80, 0.33);
  -moz-box-shadow: 1px 2px 5px 2px rgba(34, 60, 80, 0.33);
  box-shadow: 1px 2px 5px 2px rgba(34, 60, 80, 0.33);
  border-radius: 5px;
}
.btn.btn-secondary {
    color: rgb(255, 255, 255);
    /*background-color: #838282;*/
    border-color: #2c7efd;
    background-image: linear-gradient(180deg, #46aaff, #1443b3);
  }
  .btn.btn-secondary:hover {
    color: #fff;
    border-color: #ececec;
    background-image: linear-gradient(180deg, #46aaff, #033ec7);
  }
  .btn.btn-secondary.btn-localization{
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    background-image: linear-gradient(180deg, #d1d1d1, #363636);
    border-color: #696969;
  }
  .btn.btn-secondary.btn-localization:hover{
    border-color: #ffffff;
  }

.alert-info{
  overflow: hidden;
  background-color: #5441ff;
  color: #fff;
}
.mgs-box{
  overflow: hidden;
  height: 105px;
  transition: height 1s;
}
.box-passwords{
  background-color: #f0f7ff;
}
.label-passwords{
  background-color: #0d6efd;
  color: white;
}
#label_wrong_email{
  background-color: white;
  border: none;
}
#box-email-warning, #box-password-warning{
  overflow: hidden;
  height: 0px;
}
#label_wrong_password{
  background-color: #f0f7ff;
  border: none;
  color: red;
}
.navbar,.navbar-expand-lg{
  background-color: #695cfe;
}
.btn.btn-secondary {
  color: white;
  background-color: #838282;
  border-color: #ad9de6;
  background-image: linear-gradient(180deg, #625abf, #695cfe);
}
.btn.btn-secondary:hover {
  color: white;
  background-color: #838282;
  border-color: #554883;
  background-image: linear-gradient(180deg, #2b2755, #463e99);
}
.navbar-nav > li > .dropdown-menu {     background-color: #695cfe;  }